@page
@model WebApp.Pages.Card.DetailsModel
@{
  ViewData["Title"] = "Details";
  Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="card">
  <div class="card-header">
    <h4>
      <strong>Card</strong>
      <small>Details</small>
    </h4>
  </div>
  <form method="post" novalidate="novalidate">
    <div class="card-body">
      <div class="col-xl-8 offset-xl-2">
        <div class="text-danger validation-summary-valid d-none" data-valmsg-summary="true">
          <ul>
            <li class="d-none"></li>
          </ul>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label asp-for="Input.Card" class="control-label"></label>
            <input asp-for="Input.Card" class="form-control" />
            <span asp-validation-for="Input.Card" class="text-danger"></span>
          </div>
          <div class="form-group col-md-6">
            <label asp-for="Input.Balance" class="control-label"></label>
            <input type="text" asp-for="Input.Balance" class="form-control" />
            <span asp-validation-for="Input.Balance" class="text-danger"></span>
          </div>
        </div>
      </div><!-- /.col -->
    </div>
    <div class="card-footer">
      <div class="form-group mb-0">
        <a class="btn btn-secondary" asp-action="Index">
          <i class="fa fa-caret-left"></i>
          Back
        </a>
      </div>
    </div>
  </form>
</div>
