@page
@model AccessDeniedModel
@{
  ViewData["Title"] = "Access denied";
  Layout = "~/Pages/Shared/_BlankLayout.cshtml";
}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="clearfix text-center">
        <h1 class="display-3 mr-4 text-danger"><i class="fas fa-exclamation-triangle d-block mt-4"></i></h1>
        <h4 class="pt-3 text-danger">You do not have access to this resource.</h4>
        <p class="">Click <a href="./Login">here</a> to log in again.</p>
      </div>
    </div>
  </div>
</div>