@page
@model ForgotPasswordConfirmation
@{
  ViewData["Title"] = "Forgot password confirmation";
  Layout = "~/Pages/Shared/_BlankLayout.cshtml";
}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="clearfix text-center">
        <h1 class="display-3 mr-4"><i class="icon-lock-open icons d-block mt-4"></i></h1>
        <h4 class="pt-3">Change Password</h4>
        <p class="">Click <a href="./Login">here</a> to log in.</p>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // For toastr
    toastr.info('Your password has been changed.', 'Change Password');
  });
</script>