@page
@model ForgotPasswordConfirmation
@{
  ViewData["Title"] = Localizer["Forgot password confirmation"];
  Layout = "~/Pages/Shared/_BlankLayout.cshtml";
}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="clearfix text-center">
        <h1 class="display-3 mr-4"><i class="icon-lock-open icons d-block mt-4"></i></h1>
        <h4 class="pt-3">@Localizer["Change Password"]</h4>
        @Localizer[@"<p class="""">Click <a href=""{0}"">here</a> to log in.</p>", "./Login"]
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    // For toastr
    toastr.info('@Localizer["Your password has been changed."]', '@Localizer["Change Password"]');
  });
</script>