@page
@model WebApp.Areas.Identity.Pages.Account.RegisterConfirmationModel

@{
    ViewData["Title"] = Localizer["Thank you!"];
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>
        @Localizer["Almost done"]...

        @Localizer["We'll send an email to you in 5 minutes. Open it up to activate your account."]
    </p>
</div>

