@page
@model ResetPasswordConfirmationModel
@{
  ViewData["Title"] = Localizer["Reset password confirmation"];
  Layout = "~/Pages/Shared/_BlankLayout.cshtml";
}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="clearfix text-center">
        <h1 class="display-3 mr-4 text-success"><i class="fas fa-check-circle d-block mt-4"></i></h1>
        <h4 class="pt-3 text-success">@Localizer["Your password has been reset."]</h4>
        @Localizer[@"<p class="""">Click <a href=""{0}"">here</a> to log in.</p>", "./Login"]
      </div>
    </div>
  </div>
</div>