<script>
  $(document).ready(function () {
    // For btn-group
    $('.btn-group').each(function () {
      var _parent = this;
      $('.btn.currencymenu', this).click(function () {
        $(this).addClass('active');
        $(this).siblings().removeClass('active');
      });
    });

    $('.select2-single').select2({
      width: '100%',
      placeholder: "Select",
      theme: 'bootstrap'
    });
    // Initilize multiple select
    $('.select2-multiple').select2({
      width: '100%',
      minimumResultsForSearch: Infinity,
      theme: 'bootstrap'
    });

    // For confirm delete
    $('[class*="confirm-delete"]:not(.disabled)').click(function (e) {
      return confirm('Proceed to delete?');
    });
    // For confirm submit
    $('[class*="confirm-submit"]:not(.disabled)').click(function (e) {
      return confirm('Proceed to submit?');
    });
    // For confirm submit
    $('.disabled').click(function (e) {
      return false;
    });

    // For Expiry Date
    var imExpiry = new Inputmask('99/9999');
    imExpiry.mask($('.date-format-expiry'));
    // For Date
    var imDate = new Inputmask('99/a{3}/9999');
    imDate.mask($('.datepicker-date'));
    // For Card Number
    //$('.card-number-format').mask('9999 9999 9999 9999');

    // For toastr
    if(GetURLParameter('toast') == 'success'){
      toastr.success('Your submission has been saved.', 'Success');
    }
    if(GetURLParameter('toast') == 'error'){
      toastr.error('Something went wrong.', 'Oops');
    }

    // For general datatable status
    $('.datatable-status').each(function(){
      $(this).html(getIcon($.trim($(this).html())));
    });
    
    // date picker
    $('.datepicker-date').datepicker({
      format: 'dd/M/yyyy',
    });
    $('.date-format-expiry').datepicker( {
      format: "mm/yyyy",
      viewMode: "months", 
      minViewMode: "months"
    });
  });

  $(window).on('load', function(){
    $('table.table').css('width', '100%');
  });

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function getIcon(text, texttype = 'light') {
    var html = '';
    switch (text) {
      case true:
        html = '<i class="fa fa-check text-success"></i>';
        break;
      case false:
        html = '<i class="fas fa-times text-danger"></i>';
        break;
      case 'New':
        html = '<h5><span class="badge badge-warning">New</span></h5>';
        break;
      case 'Activated':
      case 'Registered':
        html = '<h5><span class="badge badge-success">Registered</span></h5>';
        break;
      case 'Deactivated':
      case 'Unregistered':
        html = '<h5><span class="badge badge-danger">Unregistered</span></h5>';
        break;
      case 'Pending':
        html = '<h5><span class="badge badge-primary">Pending</span></h5>';
        break;
      case 'PendingApproval':
        html = '<h5><span class="badge badge-primary text-nowrap">Pending Approval</span></h5>';
        break;
      case 'PendingAction':
        html = '<h5><span class="badge badge-primary text-nowrap">Pending Action</span></h5>';
        break;
      case 'Processing':
        html = '<h5><span class="badge badge-primary">Processing</span></h5>';
        break;
      case 'Submitted':
        html = '<h5><span class="badge badge-primary">Submitted</span></h5>';
        break;
      case 'CompletedWithError':
        html = '<h5><span class="badge badge-warning text-nowrap">Completed With Error</span></h5>';
        break;
      case 'Completed':
        html = '<h5><span class="badge badge-success">Completed</span></h5>';
        break;
      case 'Failed':
        html = '<h5><span class="badge badge-danger">Failed</span></h5>';
        break;
      default:
        html = '<h5><span class="badge badge-' + texttype + '">' + text + '</span></h5>';
        break;
    }
    return html;
  }

  function GetURLParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) {
      var sParameterName = sURLVariables[i].split('=');
      if (sParameterName[0] == sParam) {
        return sParameterName[1];
      }
    }
  }

  function tableResize() {
    $('[class*=table-responsive]').each(function (){
      isContent = ($(this).width() - $('thead', this).width()) < 5;
      if(!isContent) {
        $(this).addClass('dataTables_resize');
      } else {
        $(this).removeClass('dataTables_resize');
      }
    });
  }
</script>
