<form asp-page-handler="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post"
  class="form-horizontal" role="form" id="form-culture">
  <input type="hidden" value="" name="culture" id="culture" />
  <input type="hidden" value="SetLanguage" name="handler" />
  <header class="nav navbar m-0 p-0">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a id="selected-culture" class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu dropdown-menu-right" style="position: absolute">
          <div class="dropdown-header text-center d-none">
            <strong>Select language</strong>
          </div>
          <div class="dropdown-item" rel="en-US" style="cursor: pointer">
            <i class="flag-icon flag-icon-gb mb-0" title="gb"></i>
            <span class="">English</span>
          </div>
          <div class="dropdown-item" rel="ja-JP" style="cursor: pointer">
            <i class="flag-icon flag-icon-jp mb-0" title="jp" style=""></i>
            <span class="">日本語</span>
          </div>
        </div>
      </li>
    </ul>
  </header>
</form>

<script>
  var arrLanguages = new Array();
  arrLanguages["c=en-US|uic=en-US"] = '<i class="flag-icon flag-icon-gb h6 mb-0" title="English" style="border: 1px solid #808080"></i> <i class="fas fa-xm fa-sort-down">';
  arrLanguages["c=ja-JP|uic=ja-JP"] = '<i class="flag-icon flag-icon-jp h6 mb-0" title="日本語" style="border: 1px solid #808080"></i> <i class="fas fa-xm fa-sort-down">';
  $(document).ready(function () {
    var culture = getCookie(".AspNetCore.Culture");
    var selectedCulture = arrLanguages[getCookie(".AspNetCore.Culture")] == undefined ? arrLanguages["c=en-US|uic=en-US"] : arrLanguages[getCookie(".AspNetCore.Culture")];
    $('#selected-culture').html(selectedCulture);

    $('#form-culture .dropdown-item').on('click', function () {
      $('#culture').val($(this).attr('rel'));
      $('#form-culture').submit();
    });
  });
</script>