@page
@model WebApp.Pages.SandboxModel
@{
  ViewData["Title"] = "Sandbox";
  Layout = "~/Pages/Shared/_BlankLayout.cshtml";
}

<h1>Sandbox</h1>


<div id="content"></div>
<script src="@Url.Content("~/js/Tutorial.jsx")"></script>